---
export interface Props {
  id: string;
  title: string;
  body: string;
}

const { id, title, body } = Astro.props;
---

<article>
  <h2 id={id}><a href={`#${id}`}>{title}</a></h2>
  <Fragment set:html={body} />
</article>
<style>
  article {
    @apply bg-earth-100 text-earth-500 rounded-lg p-6 pt-2 text-lg my-4 text-center;
  }
  article h2 {
    @apply text-2xl my-3;
  }
  article h3 {
    @apply text-xl my-4;
  }
  article h2,
  article h3 {
    @apply text-center;
  }
</style>
